.textwidget input[type='text'], .textwidget textarea { width: 100% !important; }
.contact-form .clear-form { clear: both; }
.contact-form input[type='text'] { width: 300px; margin-bottom: 13px; }
.contact-form select { margin-bottom: 13px; }
.contact-form textarea { height: 200px; width: 80%; float: none; margin-bottom: 13px; }
.contact-form input[type='radio'], .contact-form input[type='checkbox'] { float: none; margin-bottom: 13px; }
.contact-form label { margin-bottom: 3px; float: none; font-weight: bold; display: block; }
.contact-form label.checkbox, .contact-form label.radio { margin-bottom: 3px; float: none; font-weight: bold; display: inline-block; }
.contact-form label span { color: #AAA; margin-left: 4px; font-weight: normal; }

.ch-sticky-header-enabled {
  height: 200px;
}

.home {
  .ch-sticky-header-enabled {
    height: 100px;
  }
}

.wpcf7 {
  input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
    width: 60%;
    height: 35px;
  }

  textarea {
    width: 100%;
  }
}


.thuvien {
  p.text {
    text-align: center;
    padding-top: 10px;
  }
}

.ch-quote-testimonials{
  li {
    padding: 0;
  }
}

.ch-footer-top {
  .widget_title {
    border-bottom: 1px solid #8f9a9e;
    color: #35b0b0;
  }

  .ch-border {
    border-top: 1px solid #8f9a9e;
    padding-top: 10px;

    &.noborder {
      border: none;
    }
  }
}

.sliders {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: block;
  position: relative;

  li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
