
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /PHP/THAINGUYEN/daythethao.com/www/v2/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /PHP/THAINGUYEN/daythethao.com/www/v2/wordpress/index.php [L]
</IfModule>

# END WordPress
